@font-face {
    src: url("../fonts/HBIOS-SYS-prop.ttf");
    font-family: HBIOS-SYS;
	font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #000000;
}

h1 {
	border-bottom-width:1;
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: HBIOS-SYS;
}

input.underline { 
	border-left-width:0; 
	border-right-width:0; 
	border-top-width:0; 
	border-bottom-width:1;
	outline: none;
	width:160px;
	height:18px;
    text-align: center;
	background-color: transparent;
    font-size: 14px;
	padding-bottom: 5px;
	/* margin-bottom: 10px; */
	color: #ffffff;
    font-family: HBIOS-SYS;
}

.join {
	width: 500px;
	margin: 200px auto auto auto;
	text-align: center;
}

.join p {
    font-size: 16px;
    font-family: HBIOS-SYS;
}

.join a {
    text-align: center;
	color: #bbbbbb;
    font-size: 14px;
    text-decoration: none;
    font-family: HBIOS-SYS;
}